// COLOR VARIABLES
$base-bg: #fcf5e8;
$base-color: #203757;
$white: #fff;
$dark: #333;

// SLIDE IN RIGHT ANIMATION
@keyframes slide_in {
  0% {
    transform: translateX(-100%);
    z-index: 0;
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
  }
}

// SLIDE OUT LEFT ANIMATION
@keyframes slide_out {
  0% {
    transform: translateX(0%);
    z-index: 1;
    opacity: 10%;
  }
  50% {
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0%;
  }
  100% {
    transform: translateX(-100%);
    z-index: 0;
    opacity: 0;
    display: none;
  }
}

.sidebar {
  user-select: none;

  .menu_arrow {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 3.5rem;
    right: -0.9rem;
    z-index: 2;
    color: $base-color;
    transition: all 700ms ease-in;

    .arrow {
      width: inherit;
      height: inherit;
      border-radius: 50%;
      border: 1px solid $base-color;
      transition: all 700ms ease-in;

      &.open {
        transform: rotateY(-180deg);
      }
    }
  }

  .sidebar-content {
    width: inherit;
    // position: fixed;

    .links {
      margin-left: 1.5rem;

      ul {
        margin-block-start: 3rem;

        .user {
          cursor: pointer;
          margin-block-end: 5rem;
          margin-inline-start: 1rem;
          color: $base-color;
          display: flex;

          .displayName {
            margin-block: auto;
            margin-inline-start: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: $white;
            width: max-content;
            white-space: nowrap;
            transition: all 700ms ease-in;

            &.slide_in {
              animation: slide_in 700ms linear forwards;
              // animation: slide_in 700ms cubic-bezier(0.65, 0, 0.35, 1) both;
            }

            &.slide_out {
              animation: slide_out 700ms linear forwards;
              // animation: slide_out 700ms cubic-bezier(0.65, 0, 0.35, 1) both;
              display: none;
            }

            .avatar {
              animation: shake 700ms linear forwards;
              transition: all 700ms ease-in;

              &.avatar_open {
                margin-inline-start: 0.5rem;
              }
            }
          }
        }

        li {
          margin-block: 1rem;

          .all_users {
            cursor: pointer;
            display: flex;
            flex-direction: column;

            .all_users_heading {
              display: flex;
              padding: 10px;
              width: 100%;
              color: $white;
              transition: all 700ms ease-in;

              .all_users_img {
                margin-left: 0;
                max-width: 1.5rem;
                filter: invert(100%);
                transition: all 700ms ease-in;
              }

              &:hover {
                color: $base-bg;

                .all_users_img {
                  filter: invert(20%);
                }
              }

              .all_users_title {
                margin-inline-start: 0.8rem;
              }
            }
          }

          .nav_link {
            text-decoration: none;
            width: 100%;
            padding-block: 0.8rem;
            color: $white;
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            transition: all 700ms ease-in;

            .nav_img {
              width: 2rem;
              margin-inline: 10px;
              filter: invert(100%);
              transition: all 700ms ease-in;
            }

            &:hover {
              color: $base-bg;

              .nav_img {
                filter: invert(20%);
              }
            }

            &.active {
              padding-inline-start: 1rem;
              background: $base-bg;
              color: $dark;
              border-radius: 25px 0 0 25px;

              .nav_img {
                filter: invert(40%);
              }
            }

            span {
              width: max-content;
              white-space: nowrap;

              &.slide_in {
                animation: slide_in 700ms linear forwards;
                // animation: slide_in 700ms cubic-bezier(0.65, 0, 0.35, 1) both;
              }

              &.slide_out {
                animation: slide_out 700ms linear forwards;
                // animation: slide_out 700ms cubic-bezier(0.65, 0, 0.35, 1) both;
              }
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERY FOR 550px & SMALLER SCREENS
@media only screen and (max-width: 550px) {
  .sidebar {
    .menu_arrow {
      top: 1.5rem;
    }

    .sidebar-content {
      .links {
        margin-inline: auto;
        padding-inline-start: 0.7rem;

        ul {
          margin-block-start: 5rem;

          .user {
            margin-block-end: 2rem;
            margin-inline: 0;

            .avatar {
              &.avatar_open {
                margin-inline-start: 0.5rem;
                animation: shake 700ms linear forwards;
                transition: all 700ms ease-in;
              }
            }
          }

          li {
            .all_users {
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-direction: column;

              .all_users_heading {
                display: flex;
                padding: 10px;
                width: 100%;
                color: $white;
                transition: all 700ms ease-in;

                .all_users_img {
                  margin-left: 0;
                  max-width: 1.5rem;
                  filter: invert(100%);
                  transition: all 700ms ease-in;
                }

                &:hover {
                  color: $base-bg;

                  .all_users_img {
                    filter: invert(20%);
                  }
                }

                .all_users_title {
                  margin-inline-start: 0.8rem;
                }
              }
            }

            .nav_link {
              padding-block: 0.5rem;
              font-weight: 500;

              &.active {
                padding-inline-start: 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}
