@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// COLOR VARIABLES
$base-bg: #fcf5e8;
$base-bg-alt: #faebd7;
$base-color: #6c63ff;
$sec-bg: #d4dedd;
$light-gray: #ddd;
// $highlight-color: #f50057;
$mild-red: #f60e60;
$mild-red-light: #ff3079;
$orange-color: #ff4d00;
$mild-color: #ff6622;
$pink: #ffc0cb;
$white: #fff;
$white-alt: #fafafa;
$whitesmoke: #f4f4f4;
$heading-color: #444;
$text-color: #999;
$gray: #777;
$gray-alt: #8a8a8a;
$mild-gray: #c9c9c9;
$dark: #222;
$mild-dark: #333;
$dark-alt: #555;
$v-dark: #050505;

// BASE STYLES
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1rem;
  background: $base-bg;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

section {
  padding-inline: 60px;
}

// LAYOUT CLASSES
.page-title {
  font-size: 1rem;
  color: $heading-color;
  display: inline-block;
}

.btn {
  cursor: pointer;
  border: 1.5px solid $mild-red;
  border-radius: 4px;
  background: $mild-red;
  color: $whitesmoke;
  // background: $whitesmoke;
  // color: $mild-red;
  font-size: 1.2rem;
  font-weight: 300;
  padding-block: 8px;
  padding-inline: 12px;
  animation: all 700ms ease-in;

  &:hover {
    background: $mild-red-light;
    color: $white;
    // color: $whitesmoke;
    // background: $mild-red;
  }
}

// FORM STYLES
.auth-wrapper {
  width: 100%;
  height: 100vh;
  background: url('./assets/images/form_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    .error {
      color: $mild-red;
      background: $pink;
      border: 1px solid $mild-red;
      border-radius: 4px;
      padding: 8px;
      margin-block: 16px;
      margin-inline: 0;
    }

    .small {
      color: $dark;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-block: 0.8rem;

      a {
        margin-inline-start: 0.5rem;
        text-decoration: none;
        color: $mild-red;
        font-weight: 700;
      }
    }

    label {
      display: block;
      margin-block: 24px;
      margin-inline: auto;

      label span {
        display: block;
        margin-block-end: 6px;
      }

      input,
      textarea {
        padding: 8px 6px;
        font-size: 1em;
        color: $gray;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $light-gray;
        border-radius: 4px;
      }

      textarea {
        min-height: 160px;
      }

      .file-input {
        margin-block-end: 10px;
      }
    }
  }
}
